body{
    background-color: #EC008C;
    background-image: url("../img/fwd_fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #4D4D4D;
    font-family: Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header{
    background-color: #ffffff;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.logo{
    height: 60px;
}

.titulo{
    color: #20BEC6;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

.contenedor-fondo{
    background-color: white;
    border-radius: 12px;
    color: #4D4D4D;
    max-width: 600px;
    margin: 30px auto;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: center;
}

.icon-Usuario{
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    
}

input{
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px 15px;
    font-size: 16px;
    width: 50%;
    outline: none;
    transition: border-color 0.3s ease;
    color: #662D91;
    margin-bottom: 20px;
}

input:focus{
    border-bottom: 2px solid #662D91;
}

#btnLogin{
    background-color: #EC008C;
    color:#ffffff;
    font-weight: bold;
    width: 200px;
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
}
#btnLogin:hover{
    background-color: #662D91;
    color: #FFFFFF;
}